In [1]:
# Import libraries 
import pandas as pd
import numpy as np 
import os

In [2]:
# Read the csv file
path = 'Resources/purchase_data.csv'
df = pd.read_csv(path)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Get a quick overview of the dataset
# length of our dataset
df.shape

(780, 7)

In [4]:
# Check if there are null values
df.isnull().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

In [5]:
# Look for duplicates
df.duplicated().sum()

0

In [6]:
# Check columns datatype
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [7]:
#Â Check duplicates in 'SN' columns
df['SN'].duplicated().sum()

204

# Player Count
- Display the total number of players

In [8]:
# Calculate the unique player count
number_players = df['SN'].nunique()

# Place the number of players into a dataframe 
pd.DataFrame(number_players, columns = ['Total_Players'], index=[0])

   Total_Players
0            576

# Purchasing Analysis (Total)
- Run basic calculations to obtain: Number of Unique Items, Average Purchase Price, Total Number of Purchases, Total Revenue

- Create a summary data frame to hold the results

- Optional: give the displayed data cleaner formatting

- Display the summary data frame

In [9]:
# Check the kind of items that were purchased most
df['Item Name'].value_counts()

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Fiery Glass Crusader                             9
Nirvana                                          9
Persuasion                                       9
                                                ..
Betrayer                                         1
Celeste                                          1
Endbringer                                       1
Alpha, Reach of Ending Hope                      1
Undead Crusader                                  1
Name: Item Name, Length: 179, dtype: int64

In [10]:
# Calculate number of unique items
unique_items = df['Item ID'].nunique()

# Calculate the average price of purchase
avg_price = df['Price'].mean()

# Calculate the number of purchases
total_purchases = df.shape[0]

# Calculate the total revenue 
total_revenue = df['Price'].sum()

# change the format of avg_ price and total_revenue 
mean_format = '${:.2f}'.format(avg_price)

total_format = '${:,.2f}'.format(total_revenue)

In [11]:
# create the purchasing analysis(total) Dataframe
summary_df = pd.DataFrame({'Number of Unique Items': [unique_items], 
                          'Average Price': [mean_format], 
                          'Number of Purchases': [total_purchases],
                          'Total Revenue': [total_format]})
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

# Gender Demographics
 
- Percentage and Count of Male Players

- Percentage and Count of Female Players

- Percentage and Count of Other / Non-Disclosed

In [12]:
# Check Gender keys
keys = df['Gender'].value_counts().keys().to_list()
keys

['Male', 'Female', 'Other / Non-Disclosed']

In [13]:
# Values With duplicates
values = df['Gender'].value_counts().to_list()
values

[652, 113, 15]

In [14]:
# Calculate the total count of males without duplicates
male_count = df['SN'][df['Gender']== 'Male'].nunique()
print(male_count)

# Calculate the percent of males with out duplicates
m_percent = male_count/df['SN'].nunique()
male_percent = '{:.2%}'.format(m_percent)
print(male_percent)

484
84.03%

In [15]:
# Calculate the total count of female with out duplicates
female_count = df['SN'][df['Gender']== 'Female'].nunique()
print(female_count)

# Calculate the percent of males with out duplicates
f_percent = female_count/df['SN'].nunique()
female_percent = '{:.2%}'.format(f_percent)
print(female_percent)

81
14.06%

In [16]:
# Calculate the total count of Other / Non-Disclosed with out duplicates
other_count = df['SN'][df['Gender']== 'Other / Non-Disclosed'].nunique()
print(other_count)

# Calculate the percent of males with out duplicates
oth_percent = other_count/df['SN'].nunique()
other_percent = '{:.2%}'.format(oth_percent)
print(other_percent)

11
1.91%

In [17]:
# Create a new dataframe with the gender demographics analysis
gender_df = pd.DataFrame({'Total Count': [male_count, female_count, other_count],
                         'Percentage of Players': [male_percent, female_percent, other_percent]}, 
                        index=['Male', 'Female', 'Other / Non-Disclosed'])
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

- Run basic calculations to obtain purchase count, avg. purchase price, total purchase value, Average Purchase Total per Person by Gender

- Create a summary data frame to hold the results

- Optional: give the displayed data cleaner formatting

- Display the summary data frame

In [27]:
# group by gender and get the average price of purchase and place the results into a dataframe
g_mean_price = df.groupby(['Gender']).mean()['Price']
g_sum = df.groupby(['Gender']).sum()['Price']
p_count = df.groupby(['Gender']).count()['Purchase ID']
price_person = g_sum/gender_df['Total Count']

p_analysis = pd.DataFrame({'Avg Purchase Price':g_mean_price,
              'Total Purchase Value':g_sum,
              'Purchase Count':p_count,
              'Avg Total Purchase per Person': price_person})

p_analysis

,Avg Purchase Price,Total Purchase Value,Purchase Count,Avg Total Purchase per Person
Gender,,,,
Female,3.203009,361.94,113,4.468395
Male,3.017853,1967.64,652,4.065372
Other / Non-Disclosed,3.346000,50.19,15,4.562727

# Age Demographics

- The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

 - Purchase Count
 - Average Purchase Price
 - Total Purchase Value
 - Average Purchase Total per Person by Age Group
 
 
 
- Establish bins for ages

- Categorize the existing players using the age bins. Hint: use pd.cut()

- Calculate the numbers and percentages by age group

- Create a summary data frame to hold the results

- Optional: round the percentage column to two decimal points

- Display Age Demographics Table

In [ ]:
# check the size of the dataframe
df.shape

In [ ]:
# Create a copy of the dataframe
df_full = df.copy()

In [ ]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]

# np.linspace(0, 45, 9, dtype= int)

labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [ ]:
# Pass the bins and labels into pd.cut to create a new column 
# that has range of Age
df_full['Age Range'] = pd.cut(df_full['Age'], bins=bins, labels =labels, include_lowest=True)

In [ ]:
# Drop duplicate values
df_unique = df_full.copy()
df_unique = df_unique.drop_duplicates(subset=['SN'])
df_unique.shape

In [ ]:
age_count = df_unique.groupby('Age Range')[['SN']].count()
age_count = age_count.rename(columns={'SN':'Total Count'})
age_count

In [ ]:
perc_players = df_unique.groupby('Age Range')[['SN']].count() / df_unique.shape[0]
perc_players['SN'] = perc_players['SN'].apply('{:.2%}'.format)
perc_players = perc_players.rename(columns={'SN': 'Percentage of Players'})
perc_players

In [ ]:
age_demo = age_count.merge(perc_players, left_on = 'Age Range', right_on = 'Age Range')
age_demo.index.name = None
age_demo

In [ ]:
# Purchasing Analysis by age
age_count

In [ ]:
age_purchase_count = df_full.groupby('Age Range')[['SN']].count() 
age_purchase_count = age_purchase_count.rename(columns={'SN':'Purchase Count'})
age_purchase_count

In [ ]:
age_purchase_price = df_full.groupby('Age Range')[['Price']].mean()
age_purchase_price = age_purchase_price.rename(columns={'Price':'Average Purchase Price'})
age_purchase_price['Average Purchase Price'] = age_purchase_price['Average Purchase Price'].apply('${:.2f}'.format)
age_purchase_price

In [ ]:
total_purchase_value = df_full.groupby('Age Range')[['Price']].sum()
total_purchase_value = total_purchase_value.rename(columns={'Price': 'Total Purchase Value'})
total_purchase_value['Total Purchase Value'] = total_purchase_value['Total Purchase Value'].apply('${:,.2f}'.format)
total_purchase_value

In [ ]:
avg_total_purchase_person = df_full.groupby('Age Range')['Price'].sum()/age_count['Total Count']
avg_total_purchase_person = avg_total_purchase_person.to_frame()
avg_total_purchase_person = avg_total_purchase_person.rename(columns={0:'Avg Total Purchase per Person'})
avg_total_purchase_person['Avg Total Purchase per Person'] = avg_total_purchase_person['Avg Total Purchase per Person'].apply('${:.2f}'.format)
avg_total_purchase_person

In [ ]:
a_1 = age_purchase_count.merge(age_purchase_price, left_on='Age Range', right_on='Age Range')
a_2 = a_1.merge(total_purchase_value, left_on='Age Range', right_on='Age Range')
purchasing_analysis_age = a_2.merge(avg_total_purchase_person, left_on='Age Range', right_on='Age Range')
purchasing_analysis_age

# Top Spenders

Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

- SN
- Purchase Count
- Average Purchase Price
- Total Purchase Value

In [ ]:
test = df_full.groupby('SN')[['Price']].sum().sort_values(by= 'Price',ascending=False)
test = test.iloc[:5,:]
test = test.rename(columns = {'Price':'Total Purchase Value'})
test

In [ ]:
test2 = df_full.groupby('SN')[['Price']].mean()
test3 = test.merge(test2, left_on='SN', right_on='SN')
test3 = test3.rename(columns={'Price':'Average Purchase Price'})
test3

In [ ]:
test4 = df_full.groupby('SN')[['Item ID']].count()
test5 = test3.merge(test4, left_on='SN', right_on='SN')
test5 = test5.rename(columns={'Item ID':'Purchase Count'})
test5

In [ ]:
test5 = test5[['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]
test5['Average Purchase Price'] = test5['Average Purchase Price'].apply('${:.2f}'.format)
test5['Total Purchase Value'] = test5['Total Purchase Value'].apply('${:.2f}'.format)

In [ ]:
test5